* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}


body {
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:Lato, sans-serif;
  /* width: 500px; */
}
h1{
  color: white;
  width: 50%;
  background-color: red;
  text-align: center;
  padding-top: 10px;
  margin-left:70px;
  
  
}
.container {
  background-color: white;
  width: 60%;
  position: absolute;
  top: 30%;
  left: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

form {
  width: 100%;
  padding: 18px;
}

#input {
  width: 76%;
  font-size: 15px;
  border: 2px solid lightblue;
  padding: 8px;
  /*   border-radius:  10px 10px 0 0; */
  font-family: cursive;
}

button {
  padding: 12px;
  background-color: steelblue;
  border-radius: 10px;
  color: white;
  border: none;
}

.listItem li {
  list-style: none;
  padding: 8px;
  width: 85%;
  /* margin: 10px; */
  margin: 10px 0 10px 20px;
  display: flex;
  justify-content:space-between ;
  align-items: center;
}



.listItem li .fa-pen-to-square {
color: green;
position:relative;
  left: 80px;
  bottom:15%;
  transform: translateX(-15%);
  cursor: pointer;  
  
}

.listItem li .fa-trash {
  color: blue;
  cursor: pointer;
 
 

}

@media screen and (min-width:605px){
  h1{
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
    width: 50%;
    margin-left: 10%;
    background-color: black;
    
  }

  /* .container {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 30%;
    left: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  } */
  .container {
    background-color: white;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
    listItem li .fa-pen-to-square {
    color: green;
    position: relative;
      left: 200px;
      bottom:15%;
      transform: translateX(-10%);
      cursor: pointer; 
      flex:1 1 0%; 
    } 
    
   /* .listItem li .fa-trash {
      color: blue;
      cursor: pointer;
     
    
    } */
}

<i class="fa-solid fa-pen-to-square"></i>`;